<% content_for :head do %>
  <%= stylesheet_link_tag :table %>
  <%= javascript_include_tag "#{faye_server_name()}/faye/faye.js" %>
  <%= javascript_include_tag 'jquery.caret.1.02' %>
  <%= javascript_include_tag :metadata %>  
  <%= javascript_include_tag :table %>
  <script type="text/javascript">
    var sFayeUrl = "<%= faye_server_name() + '/faye' %>";
    var sChangesTextAjaxUrl = "<%= cell_change_path %>";
    var sUpdateTextAjaxUrl = "<%= cell_index_path(:js) %>";
    var sUpdateTextJsonUrl = "<%= cell_index_path(:json) %>";
  </script>
<% end %>


<table border="1" data-time="<%= @updated_at.to_i %>">
  <% @rows.times do |r| %>
    <tr>
    <% @columns.times do |c| %>
       <td>
         <div class="highlight-pane">
         </div>
         <% current_index = "r#{r}c#{c}" %>
         <% text = @cell_index[current_index].nil? ? 
                     nil : 
                     @cell_index[current_index][0].text %>
         <%= text_field_tag "cell[text]", text, 
                            id: "r#{r}c#{c}", class: "text",
                            maxlength: 12 %>       
       </td>
    <% end %>
    </tr>
  <% end %>
</table> 
